body, html {
  height:100%;
  min-height:100%;
  margin:0;
  padding:0;
}

body {
  background-color: $body-background;
  font-family: d-dinregular, sans-serif;
}

.page-wrapper {
  min-height:100%;
  position:relative;
}

header {

  .navbar {
    line-height: 2.5;
    background: linear-gradient(141deg, $primary 0%, #444 51%, #444 75%);

    .navbar-brand {
      padding-left: 145px;
      font-weight: bold;
      line-height: 1.0;
      text-shadow: 1px 2px 3px #000;
      font-size: 22px;
      letter-spacing: 1px;

      .logo {
        position:absolute;
        top:13px;
        left:10px;
        height:64px;
      }
    }

    @include media-breakpoint-up(sm) {
      .nav-link {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
      }
    }
  }

  .bar {
    display: block;
    height:5px;
    width: 100%;
    background: linear-gradient(141deg, $primary 10%, #444 51%, #333 75%);
  }
}

main {
  padding-top: 60px;
  padding-bottom: $footer-height;

  .jumbotron-home {
    background: $gray-100;
    position: relative;
    .container {
      position: relative;
      z-index: 2;
    }
  }
}

.wrapper-404 {
  padding-top: 80px;
}

body.pages-index {
  main {
    padding-top: 0;
  }
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  padding-top:20px;
  height: $footer-height;
  background: $footer-background;
}

