body, html {
  height:100%;
  min-height:100%;
  margin:0;
  padding:0;
}

body {
  background-color: $body-background;
}

.page-wrapper {
  min-height:100%;
  position:relative;
}

header {
  .navbar {
    //border-bottom:4px solid $primary;
    line-height: 2.5;
    background: linear-gradient(141deg, $primary 0%, #333 51%, #222 75%);

    @include media-breakpoint-up(sm) {
      .nav-link {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
      }
    }
  }
}

main {
  padding-bottom: $footer-height;

  .jumbotron-home {
    display:none;
    background: $gray-100;
    //border-bottom: 1px solid #ddd;
    position: relative;
    .container {
      position: relative;
      z-index: 2;
    }
  }
}

body.pages-index {
  main .jumbotron-home {
    display:inherit;
  }
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  height: $footer-height;
  background: $footer-background;
}

