// Bootstrap vars override
// --------------------------------------

$font-family-base: "quicksandregular", sans-serif;
$font-family-sans-serif: "quicksandregular", sans-serif;

$gray-800: #343131;
$primary: #EE562F;
$purple: #AD14A2;

$navbar-dark-toggler-border-color: transparent;

// General site vars
// --------------------------------------

$body-background: #f5f5f5;

$top-navbar-height: 72px;

$footer-height: 185px;
$footer-background: #eee;
